.services {
  padding-block: 120px;
  background-color: $second-main-color;

  @include content-padding-inline;

  @include on-tablet {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;
  }

  @include on-small-desktop {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    justify-content: space-between;

    padding-top: 250px;
  }

  &__wraper {
    grid-column: 1/5;

    @include on-tablet {
      grid-column: 1/4;
    }

    @include on-small-desktop {
      grid-column: 1/5;
    }
  }

  &__title {
    padding-bottom: 24px;
  }

  &__paragraf {
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    font-style: 14px;
    line-height: 150%;
    color: $main-text-color;
    letter-spacing: 0;
  }

  &__options-container {
    display: grid;

    @include on-tablet {
      display: grid;
      grid-column: 1/-1;
      grid-gap: 30px;
      grid-template-columns: repeat(2, 8fr);
    }

    @include on-small-desktop {
      grid-column: 7/13;
      gap: 20px;
    }
  }

  &__options {
    height: 264px;
    margin-bottom: 24px;
    border-radius: 24px;

    font-weight: 600;

    background-color: $main-background-color;

    transition: $effect-duration;

    &:hover {
      transform: scale(1.1);
      transition: $effect-duration;
    }

    @include on-small-desktop {
      min-width: 214px;
      margin-bottom: 0;
    }

    @include on-tablet {
      margin-bottom: 30px;
    }

    @include on-small-desktop {
      margin-bottom: 20px;
    }
  }

  &__number {
    display: inline-block;

    margin-top: 32px;
    margin-left: 32px;
    padding-block: 2px;
    padding-inline: 12px;
    border-radius: 23px;

    font-family: Poppins, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 19.5px;

    background-color: $second-main-color;
  }

  &__info {
    margin-top: 24px;
    margin-left: 32px;

    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 19.5px;
    color: $main-text-color;
  }

  &__button {
    cursor: pointer;

    display: flex;
    align-items: center;

    margin-top: 32px;
    margin-left: 32px;

    &__icon {
      width: 40px;
      height: 40px;
      transition: transform $effect-duration;
    }

    &:hover &__icon {
      transform: rotate(-180deg);
      transition: transform $effect-duration;
    }
  }

  &__learn-more {
    margin-left: 16px;
    font-family: Poppins, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 22.5px;
  }

  &__column-1 {
    gap: 24px;
  }

  &__column-2 {
    gap: 24px;

    @include on-tablet {
      position: relative;
      top: -132px;
    }

    @include on-small-desktop {
      position: static;
      transform: translateY(-102px);
    }
  }
}
