.contact-us {
  font-family: Poppins, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $main-background-color;
  background-color: $background-color;

  &__title {
    margin-top: 72px;

    @include on-tablet {
      margin-top: 120px;
    }

    @include on-small-desktop {
      margin-top: 180px;
    }

    color: $main-background-color;
  }

  &__contacts {
    margin-bottom: 40px;
    font-family: Poppins, 'Helvetica Neue', Helvetica, Arial, sans-serif;

    @include on-tablet {
      margin-bottom: 48px;
    }
  }

  &__describe {
    padding-bottom: 8px;

    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;

    opacity: 0.5;

    &--icons {
      margin-bottom: 16px;
    }
  }

  &__info {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    color: $main-background-color;
    text-decoration: none;
    letter-spacing: 0;
  }

  &__icon {
    display: block;

    width: 32px;
    height: 32px;
    margin-right: 32px;

    text-decoration: none;
  }

  &__socials {
    margin-top: 40px;
    margin-bottom: 80px;

    @include on-tablet {
      margin-top: 48px;
      margin-bottom: 139px;
    }

    @include on-small-desktop {
      margin-bottom: 0;
    }

    &-icons {
      display: flex;
      flex-direction: row;
    }
  }

  &__icon-facebook {
    background-image: url(../images/facebook.svg);

    &:hover {
      background-image: url(../images/facebook-hover.svg);
    }
  }

  &__icon-twitter {
    background-image: url(../images/twitter.svg);

    &:hover {
      background-image: url(../images/twitter-hover.svg);
    }
  }

  &__icon-instagram {
    background-image: url(../images/instagram.svg);

    &:hover {
      background-image: url(../images/instagram-hover.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  @include content-padding-inline;

  @include on-small-desktop {
    padding-inline: 0;
  }
}
