.expertise {
  padding-block: 72px;
  background-color: $main-background-color;

  @include on-tablet {
    padding-block: 128px;
  }

  @include on-small-desktop {
    padding-block-end: 134px;
  }

  &__services {
    display: grid;
    row-gap: 56px;
    padding-inline: 20px;
    justify-items: center;

    @include on-tablet {
      padding-inline: 54px;
    }

    @include on-small-desktop {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 137px;
      padding-inline: 0;
    }

    @include on-the-design {
      width: 1146px;
      margin: auto;
    }
  }

  &__article {
    &--1 {
      transition: transform $effect-duration;
      &:hover {
        transform: scale($hover-size);
        transition: transform $effect-duration;
      }
    }

    &--2 {
      transition: transform $effect-duration;
      &:hover {
        transform: scale($hover-size);
        transition: transform $effect-duration;
      }
    }

    &--3 {
      transition: transform $effect-duration;
      &:hover {
        transform: scale($hover-size);
        transition: transform $effect-duration;
      }
    }
  }

  &__photo {
    display: block;
    margin: auto;
    border-radius: 16px;
  }

  &__title {
    margin-top: 40px;
    margin-bottom: 16px;

    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
    color: $main-title-color;
    text-align: center;
  }

  &__categories {
    display: block;
    max-width: 264px;
    width: 100%;
    margin-inline: auto;

    @include on-tablet {
      margin-inline: auto;
    }

    @include on-small-desktop {
      margin-inline: auto;
    }

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    color: $main-text-color;
    text-align: center;
  }
}
