.menu {
  z-index: 2;

  flex-direction: column;

  box-sizing: border-box;
  height: 100vh;

  font-weight: 700;
  text-transform: uppercase;

  background-color: $background-color;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }

  &__close {
    display: inline-block;
    font-size: 0;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  &__hire-us {
    display: block;

    width: fit-content;
    margin-top: 48px;
    margin-left: 20px;
    padding-bottom: 8px;
    border-bottom: 2px solid $pink;

    color: $main-background-color;
    text-decoration: none;
    text-transform: uppercase;
  }
}
