.nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;

    margin-block: 0;
    padding-inline-start: 20px;

    @include on-tablet {
      padding-inline-start: 41px;
    }
  }

  &__item {
    list-style: none;
  }

  &__link {
    position: relative;

    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 19.5px;
    color: $main-background-color;
    text-decoration: none;
    letter-spacing: 3px;

    &::after {
      content: '';

      position: absolute;
      bottom: -8px;
      transform-origin: left;
      transform: scale($is-enabled-scale);

      display: block;

      width: 100%;
      height: 2px;
      border-radius: 4px;

      background-color: $pink;

      transition: transform $effect-duration;
    }

    &:hover::after {
      transform: scale($is-active-scale);
    }
  }
}
