.page {
  scroll-behavior: smooth;
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

.page__body {
  margin: 0;
  background: $second-main-color;
}

.page__menu {
  pointer-events: none;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  justify-content: space-between;

  opacity: 0;

  &:target {
    pointer-events: all;
    opacity: 1;
  }
}
