.section {
  &__title {
    margin: 0;
    margin-top: 120px;
    margin-bottom: 16px;

    @include on-tablet {
      margin-top: 148px;
    }
  }

  &-text {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 26px;
    color: $main-title-color;
    text-align: center;
  }
}
