.section-title {
  padding-bottom: 24px;

  font-family: Poppins, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  color: $main-title-color;
  text-align: center;

  @include on-tablet {
    padding-bottom: 16px;
  }

  @include content-padding-bottom;

  &--align--left {
    text-align: left;
  }

  &-little {
    padding-bottom: 16px;

    font-family: Poppins, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 100%;
    color: #c0cdd7;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  &__higher {
    @include on-small-desktop {
      padding-bottom: 64px;
    }
  }
}
