.send-message {
  box-sizing: border-box;
  background-color: $background-color;

  @include content-padding-inline;

  @include on-the-design {
    padding-inline: 0;
  }

  &__title {
    padding-top: 72px;

    @include on-tablet {
      padding-top: 180px;
    }

    color: $main-background-color;
  }

  &__for {
    display: block;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 41px;
    margin-bottom: 40px;
    padding: 0;
    border: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid $main-background-color;
    border-radius: 0;

    font-family: Poppins, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: $main-background-color;

    appearance: none;
    background-color: transparent;

    &::placeholder {
      color: $main-background-color;
      opacity: 0.7;
    }
    &:-webkit-autofill {
      border: 1px solid $background-color;
      -webkit-box-shadow: 1000px $background-color inset;
      transition: background-color 5000s ease-in-out 0s;

      -webkit-text-fill-color: $second-main-color;
    }

    &:focus {
      border-top: 2px solid transparent;
      border-bottom: 2px solid $main-background-color;
      outline: none;
    }

    &--message {
      margin-bottom: 0;

      &:focus {
        border-top: 1px solid transparent;
      }
    }
  }

  &__error {
    display: none;

    width: 100%;
    height: 12px;
    margin-top: 5px;

    font-family: Poppins, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 100%;
    color: red;
    letter-spacing: normal;

    &--email-visible {
      display: block;
    }

    &--name-visible {
      display: block;
    }

    &--message-visible {
      display: block;
    }
  }

  &__button {
    cursor: pointer;

    width: 100%;
    height: 56px;
    margin-top: 56px;
    border: 1px solid transparent;
    border-radius: 68px;

    color: $main-background-color;

    background-color: $pink;

    transition-duration: $effect-duration;

    &:hover {
      background-color: $button-hover-pink;
    }

    @include on-tablet {
      width: 264px;
      margin-top: 80px;
    }
  }
}
