.vision {
  --vision-column: 2;

  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(var(--vision-column), 1fr);
  grid-template-rows: none;
  column-gap: 24px;

  height: 571px;

  background-color: $main-background-color;

  @include content-padding-inline;

  @include on-large-screens {
    padding-inline: 707px;
  }

  @include on-tablet {
    --vision-column: 6;

    height: 740px;
    background-image: url(../images/Shapes.png);
    background-position: center;
  }

  @include on-small-desktop {
    --vision-column: 12;
  }

  &__title {
    display: grid;
    grid-column: span 2;
    height: min-content;
    margin-top: 72px;

    @include on-tablet {
      margin-top: 200px;
    }

    @include on-tablet {
      grid-column: 3/-3;
    }
  }

  &__describe {
    grid-column: span 2;

    margin: auto;

    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    color: $main-text-color;
    text-align: center;

    @include on-tablet {
      grid-column: 1/-1;
    }

    @include on-small-desktop {
      grid-column: 4/-4;
    }
  }

  &__button {
    cursor: pointer;

    display: flex;
    grid-column: span 2;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 56px;
    margin-top: 56px;
    border: 1px solid transparent;
    border-radius: 64px;

    font-family: Poppins, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 100%;
    color: $main-background-color;
    text-decoration: none;
    letter-spacing: 0;

    background-color: $pink;

    transition-duration: $effect-duration;

    &:hover {
      background-color: $button-hover-pink;
    }

    @include on-tablet {
      grid-column: 2/-2;
      width: auto;
      margin-top: 64px;
    }

    @include on-small-desktop {
      grid-column: 6/-6;
      width: 264px;
    }
  }
}

.wrapper__vision {
  background-color: $main-background-color;
}
