.who-we-are {
  --columns: 2;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 0 24px;

  padding-block: 120px;

  background-color: $second-main-color;

  @include on-tablet {
    --columns: 6;

    gap: 0 30px;
    padding-block: 128px;
  }

  @include on-small-desktop {
    --columns: 12;

    gap: 0 24px;
    padding-block: 148px;
  }

  &__title {
    grid-column: 1 / -1;
    padding-bottom: 16px;
  }

  &__content {
    display: grid;
    grid-column: 1 / -1;

    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    color: $main-text-color;
    text-align: center;

    @include on-small-desktop {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: 3 / -3;
    }
  }
}
