@font-face {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Roboto-Regular-webfont.woff') format('woff');
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;600&display=swap');
}
